.profile__edit {
  background-image: url(../../../image/edit.svg);
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  margin-left: 18px;
}

@media screen and (max-width: 320px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    align-self: center;
  }
}
